<footer class="text-white-50 mt-xl-5 bg-dark" xmlns:th="http://www.thymeleaf.org">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-lg-4 col-xl-3">
        <h5>За нас</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <p class="mb-0">
          Онлајн продавница за продавање на авто делови, поврзана со сервиси низ цела македонија.
        </p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
        <h5>Информации</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-50">
        <ul class="list-unstyled">
          <li><a href="/services">Сервиси</a></li>
          <li><a href="/partManufacturersReport">Производители на делови</a></li>
          <li><a href="/carCategoryReport">Извештај за коли</a></li>
          <li><a href="/mostPurchasedPart">Најкупуван производ</a></li>
        </ul>
      </div>

<!--      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">-->
<!--        <h5>Others links</h5>-->
<!--        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">-->
<!--        <ul class="list-unstyled">-->
<!--          <li><a href="">Link 1</a></li>-->
<!--          <li><a href="">Link 2</a></li>-->
<!--          <li><a href="">Link 3</a></li>-->
<!--          <li><a href="">Link 4</a></li>-->
<!--        </ul>-->
<!--      </div>-->

      <div class="col-md-4 col-lg-3 col-xl-3">
        <h5>Контакт</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <ul class="list-unstyled">
          <li><i class="fa fa-home mr-2"></i>AutoPartz</li>
          <li><i class="fa fa-envelope mr-2"></i> contact@autopartz.com</li>
          <li><i class="fa fa-phone mr-2"></i> +389 70 123 456</li>
          <li><i class="fa fa-print mr-2"></i> +389 78 123 456</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
