<header xmlns:sec="http://www.w3.org/1999/xhtml" >
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">AutoPartz</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
              aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
        <ul class="navbar-nav m-auto">
          <th:block sec:authorize="hasAuthority('ROLE_CLIENT')">
          <li class="nav-item m-auto">
            <a class="nav-link active" href="/currentOrder">Моја нарачка</a>
          </li>
          </th:block>
          <th:block sec:authorize="hasAuthority('ROLE_CLIENT')">
            <li class="nav-item m-auto">
              <a class="nav-link active" href="/orders">Мои нарачки</a>
            </li>
          </th:block>
          <th:block sec:authorize="hasAuthority('ROLE_CLIENT')">
            <li class="nav-item m-auto">
              <a class="nav-link active" href="/repairs">Мои поправки</a>
            </li>
          </th:block>
          <th:block sec:authorize="hasAuthority('ROLE_CLIENT')">
            <li class="nav-item m-auto">
              <a class="nav-link active" href="/reviews">Мои критики</a>
            </li>
          </th:block>
          <th:block sec:authorize="hasAuthority('ROLE_CLIENT')">
            <li class="nav-item m-auto">
              <a class="nav-link active" href="/addCarSampleForUser">Додај примерок од кола</a>
            </li>
          </th:block>
          <th:block sec:authorize="hasAuthority('ROLE_WAREHOUSEMAN')">
            <li class="nav-item m-auto">
              <a class="nav-link active" href="/myWarehouse">Мој магацин</a>
            </li>
          </th:block>
          <th:block sec:authorize="hasAuthority('ROLE_DELIVERYMAN')">
            <li class="nav-item m-auto">
              <a class="nav-link active" href="/myDeliveries">Мои достави</a>
            </li>
          </th:block>
          <th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
            <li class="nav-item m-auto">
              <a class="nav-link active" href="/viewUsers">Корисници</a>
            </li>
          </th:block>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <th:block th:if="${#request.getRemoteUser() != null}">
          <li class="nav-item">
            <a class="btn btn-success btn-sm ml-3" href="/">
              <th:block th:text="${#request.getRemoteUser()}"></th:block>
            </a>
          </li>
        </th:block>
          <th:block th:if="${#request.getRemoteUser() == null}">
          <li class="nav-item">
            <a class="btn btn-success btn-sm ml-3" href="/register">
              <i class="fa fa-shopping-cart"></i> Регистрирај се
            </a>
          </li>
          </th:block>
          <th:block th:if="${#request.getRemoteUser() != null}">
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="btn btn-light btn-sm ml-3" href="/logout">
              <i class="fa fa-shopping-cart"></i>
                        Одјави се
            </a>
          </li>
          </th:block>
          <th:block th:if="${#request.getRemoteUser() == null}">
          <li class="nav-item">
            <a class="btn btn-light btn-sm ml-3" href="/login">
              <i class="fa fa-shopping-cart"></i> Најави се
            </a>
          </li>
          </th:block>
        </ul>
      </div>
    </div>
  </nav>
</header>
