<div>
  <form class="form-signin mt-xl-4" method="post" action="/addPartManufacturer">
    <h2 class="form-signin-heading mb-3">Додај производител на делови</h2>
    <p>
      <label for="name" class="sr-only">Име на производител</label>
      <input type="text" id="name" name="name" class="form-control" placeholder="Внеси го името на производителот..." required="" autofocus=""/>
    </p>
    <p>
      <label for="location" class="sr-only">Земја на потекло</label>
      <input type="text" id="location" name="location" class="form-control" placeholder="Внеси земја на потекло..." required="" autofocus=""/>
    </p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Додај производител</button>
  </form>
</div>