<div>
  <form class="form-signin mt-xl-4" method="post" action="/addPart">
    <h2 class="form-signin-heading mb-3">Додај дел во системот</h2>
    <p>
      <label for="name" class="sr-only">Име на делот</label>
      <input type="text" id="name" name="name" class="form-control" placeholder="Внеси го името на делот..." required="" autofocus=""/>
    </p>
    <p>
      <label for="description" class="sr-only">Опис на делот</label>
      <input type="text" id="description" name="description" class="form-control" placeholder="Внеси опис за делот..." autofocus=""/>
    </p>
    <p>
      <label for="manufacturer" class="sr-only">
        Одбери производител
      </label><select class="form-control" id="manufacturer" name="manufacturer" required>
      <option  th:each="m : ${manufacturers}"
               th:text="${m.getName()}"
               th:value="${m.getId()}">
      </option>
    </select>
    </p>
    <p>
      <label for="cars">Соодветно за</label>
<!--      <select class="form-control" id="cars" name="cars" required multiple="multiple">-->
<!--        <option  th:each="c : ${cars}"-->
<!--                 th:text="${c.getCartype()}"-->
<!--                 th:value="${c.getId()}">-->
<!--        </option>-->
<!--      </select>-->
        <input type="checkbox" name="cars" id="cars"
               th:each="c : ${cars}"
               th:text="${c.getCartype()}"
               th:value="${c.getId()}"
        />
    </p>
    <p>
      <label for="categories">Во категории</label>
<!--      <select class="form-control" id="categories" name="categories" required multiple="multiple">-->
<!--        <option  th:each="c : ${categories}"-->
<!--                 th:text="${c.getCname()}"-->
<!--                 th:value="${c.getId()}">-->
<!--        </option>-->
<!--      </select>-->
      <input type="checkbox" name="categories" id="categories"
             th:each="c : ${categories}"
             th:text="${c.getCname()}"
             th:value="${c.getId()}"
      />
    </p>
    <p>
      <label for="warehouse">Во магацин</label>
      <select class="form-control" id="warehouse" name="warehouse" required>
        <option  th:each="w : ${warehouses}"
                 th:text="${w.getLocation()}"
                 th:value="${w.getId()}">
        </option>
      </select>
    </p>
    <p>
      <label for="quantity" class="sr-only">Количина во магацин</label>
      <input required type="number" min="1" id="quantity" name="quantity" class="form-control" placeholder="Внеси количина..." autofocus=""/>
    </p>
    <p>
      <label for="amount" class="sr-only">Цена</label>
      <input required type="number" min="1" id="amount" name="amount" class="form-control" placeholder="Внеси цена..." autofocus=""/>
    </p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Додај дел</button>
  </form>
</div>