<div>
  <h1>Авто делови AutoPartz.MK - онлајн продавница</h1>
  <div class="d-flex">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h2>Се за вашиот автомобил</h2>
    <h4 class="text-center">Избор од голем број на производители</h4>
  </div>
  <div class="ml-5">
    <img class="img-fluid" src="https://c4.wallpaperflare.com/wallpaper/1022/57/149/sports-car-ferrari-photo-manipulation-engines-wallpaper-preview.jpg" alt="Image">
  </div>
</div>
  <form class="form-signin mt-xl-5" method="get" action="/products">
      <button class="btn btn-danger btn-block btn-lg" type="submit">Пребарувај производи</button>
  </form>

</div>