<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Најава</title>
<!--    <link href="/main.css" rel="stylesheet"/>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<form th:method="POST" th:action="@{/login}">
    <div class="container">
        <form class="form-signin mt-xl-5" method="post" action="/login">
            <h2 class="form-signin-heading">Најава</h2>
            <p>
                <label for="username" class="sr-only">Корисничко име</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Корисничко име" required="" autofocus=""/>
            </p>
            <p>
                <label for="password" class="sr-only">Лозинка</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Лозинка" required=""/>
            </p>
        </form>
        <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit">Најава</button>
    </div>
</form>
<a href="/register" class="btn btn-block btn-light">Регистрирај се</a>
</body>
</html>