<div>
    <h1 class="mt-3 mb-3">Мои достави</h1>
    <form class="form-signin mt-xl-5" method="get" action="/myNextDeliveries">
    <button id="submit" class="btn btn-lg btn-primary btn-block w-50" type="submit">Мои следни нарачки</button>
    </form>
    <table class="table table-bordered mt-3">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Статус на достава</th>
            <th scope="col">Адреса на достава</th>
            <th scope="col">Број на нарачка</th>
            <th scope="col">Датум на нарачка</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="d : ${deliveries}">
            <td th:text="${d.getStatus}"></td>
            <td th:text="${d.getAddress()}"></td>
            <td th:text="${d.getOrder().getOrderid()}"></td>
            <td th:text="${d.getOrder().getDate()}"></td>
        </tr>
        </tbody>
    </table>
</div>