<div>
<p th:text="${part.getName()}"></p>
<p th:text="${part.getDescription()}"></p>
<p th:text="${part.getManufacturer().getName()}"></p>
<p><span th:text="${amount}"></span><span> денари</span></p>
<form method="post" th:action="@{'/part/addToOrder/{id}' (id=${part.getId()}) }">
    <label>
        <input type="number" name="quantity" required min="1" placeholder="Количина"/>
    </label>
    <button class="btn btn-primary btn-block btn-lg" type="submit">Додај во нарачка</button>
</form>
</div>
