<div xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<main>
    <h1 class="mt-3 mb-3">Сите производи</h1>
    <form th:action="@{/filtered}">
        <label for="cartype"></label><select id="cartype" class="form-control w-25 d-inline mr-3" required name="cartype">
            <option  th:each="car : ${cars}"
                     th:text="${car.getCartype()}"
                     th:value="${car.getCartype()}">
            </option>
        </select>
        <label for="category"></label><select id="category" class="form-control w-25 d-inline mr-3" required name="category">
            <option  th:each="cat : ${categories}"
                     th:text="${cat.getCname()}"
                     th:value="${cat.getCname()}">
            </option>
        </select>
        <button class="btn btn-lg btn-block btn-primary w-25 d-inline" type="submit">Филтрирај</button>
    </form>
    <table class="table table-bordered mt-4">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Име</th>
            <th scope="col">Производител</th>
            <th scope="col">Детали</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="part : ${parts}">
            <td th:text="${part.getName()}"></td>
            <td th:text="${part.getManufacturer().getName()}"></td>
            <td>
                <form th:action="@{'/part/{id}' (id=${part.getId()}) }">
                    <button class="btn btn-primary btn-block btn-lg w-50" type="submit">Детали</button>
                </form>
            </td>
            </tr>
        </tbody>
    </table>
</main>
</div>