<div>
<form th:method="POST" th:action="@{/register}">
    <div class="container">
        <form class="form-signin mt-xl-5" method="post" action="/register">
            <h2 class="form-signin-heading">Регистрирај се</h2>
            <p>
                <label for="name" class="sr-only">Име и презиме</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Внеси го твоето име и презиме..." required="" autofocus=""/>
            </p>
            <p>
                <label for="username" class="sr-only">Корисничко име</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Внеси корисничко име..." required="" autofocus=""/>
            </p>
            <p>
                <label for="email" class="sr-only">Email</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="info@xyz.com" required=""/>
            </p>
            <p>
                <label for="number" class="sr-only">Телефонски број</label>
                <input type="text" id="number" name="number" class="form-control" placeholder="+389 70 123 456" required=""/>
            </p>
            <p>
                <label for="password" class="sr-only">Лозинка</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="*********" required=""/>
            </p>
            <p>
                <label for="rpassword" class="sr-only">Потврди ја лозинката</label>
                <input type="password" id="rpassword" name="rpassword" class="form-control" placeholder="*********" required=""/>
            </p>
            <p>
                <label for="role" class="sr-only">
                    Одбери улога
                </label><select class="form-control" id="role" name="role" required>
                    <option value="client">CLIENT</option>
                    <option value="warehouseman">WAREHOUSEMAN</option>
                    <option value="deliveryman">DELIVERYMAN</option>
                </select>
            </p>
        </form>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Регистрирај се</button>
    </div>
</form>
<a href="/login" class="btn btn-block btn-light">Веќе имате сметка? Најавете се</a>
</div>
